.body{
    min-width: 100%;
    min-height: 100%;
    position: absolute; 
    top: 0; 
    left: 0; 
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(https://wallpaperaccess.com/full/3816344.jpg);
}

.backbutton {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 10%;
    width: 10%;
    }